#registerBox {
  display: flex;
  background-color: lightgrey;
  flex-direction: column;
  color: black;
  align-items: center;
  margin-top: 300px;
  opacity: 90%;
}

h1 {
  font-size: 25px;
}

label {
  font-size: 18px;
}
