.NavBar {
    font-family: sans-serif;
    display: flex;
    background-color: lightblue;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
  }

  #title {
    font-size: 30px;
    color: black;
    text-decoration: underline;
  }

  .Links {
    color: black;
    font-size: 15px;
    text-decoration: none;
    margin-right: 15px;
  }
  